<template>
  <div class="main">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <Hello msg="toenobu" />
    <Hello msg="world" />
  </div>
</template>

<script>
import HelloWorld from './HelloWorld.vue'
import Hello from './Hello.vue';

export default {
  name: 'Main',
  components: {
    HelloWorld,
    Hello,
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  display:flex;
  min-withd:100px;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
