<template>
  <div id="app">
    <section class="main-content columns is-fullheight">
      <Side />
      <div class="container column is-10">
        <Hello msg='world' />
        <Hello msg='world' />
        <Hello msg='world' />
      </div>
    </section>
    <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
  </div>
</template>

<script>
import Side from './components/Side.vue';
import Hello from './components/Hello.vue';

export default {
  name: 'app',
  components: {
    Side,
    Hello
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}
</style>
